body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

.main-content {
    max-width: 582px;
    margin: 20px auto;
}

.movie-review {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.movie-review:hover {
    margin-bottom: 5px;
}

.movie-review img {
    width: 100%; /* Make the image fill the container */
    height: auto; /* Maintain aspect ratio */
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
